<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias_registrar</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
</head>
<body>

     <div class="container">

        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card ">

                <h1 class="text-center"> REGISTRO DE CATEGORIAS </h1>

                <div class="card-body">

                    <form th:action="@{/categorias}" th:object="${categoria}" method="POST">

                        <div class="form-group">
                            <label>Nombre Producto: </label>
                            <input type="text" name="nomProducto" th:field="*{nomProducto}" class="form-control" placeholder="Escriba el nombre de la categorias: "
                            required>
                        </div>

                        <div class="form-group">
                            <label>Descripcion: </label>
                            <input type="text" name="descripcion" th:field="*{descripcion}" class="form-control" placeholder="Escriba la descripcion: "
                            required>
                        </div>

                         
                         <br/>
                         <div class="box-footer">
                            <button class="btn btn-success">Guardar</button>
                         </div>

                    </form>

                </div>




            </div>
        </div>
    </div>


    

     <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
</body>
</html>